In [ ]:
#리뷰 요약테이블 저장 공간
"""
반환값 : 없음 그냥 호출되면 리뷰 요약 테이블에 db저장하고 끝
"""
def review_sum_server(comp_uid,sum):
    pass

In [1]:
import sys
sys.path.append('/app/EZPZ_Project/modules/torchmodules') 
import tokenizer as tk

In [14]:
sents = ['안녕하세요 제 이름은 김동현이라고 합니다, 저는 플레이데이터 수강중입니다.', '안녕! 나는 김동현이야. 나는 플레이데이터 수강중이야.']
keywords = tk.get_keyword_nng(sents, 'review')

In [15]:
keywords

[('플레이', 2), ('데이터', 2), ('수강', 2), ('안녕', 1), ('이름', 1)]

In [16]:
keywords = [ word[0] + '_' + str(word[1]) for word in keywords ]
hashtags = '#'.join(keywords)
hashtags

'플레이_2#데이터_2#수강_2#안녕_1#이름_1'

In [ ]:
import sys
sys.path.append('/app/EZPZ_Project/modules/torchmodules') 
import tokenizer as tk

sents = ['안녕하세요 제 이름은 김동현이라고 합니다, 저는 플레이데이터 수강중입니다.', '안녕! 나는 김동현이야. 나는 플레이데이터 수강중이야.']
keywords = tk.get_keyword_nng(sents, 'review')

keywords

keywords = [ word[0] + '_' + str(word[1]) for word in keywords ]
hashtags = '#'.join(keywords)
hashtags

In [2]:
import pandas as pd

In [3]:
a = {
    'comp_uid' : ['1','2'],
    'comp_name' : ['삼성전자','LG전자'],
}
df = pd.DataFrame(a)
df

  comp_uid comp_name
0        1      삼성전자
1        2      LG전자

In [ ]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/ezpzplay?charset=utf8", encoding='utf-8')

df.to_sql('company', con=engine, if_exists='append', index=False)