In [1]:
import sys
import os
import pandas as pd

import socket
import cryptography


sys.path.append('/app/EZPZ_Project') #db 연동정보 경로
sys.path.append('/app/EZPZ_Project/modules/crawlers/job_post') # 채용공고 경로

from privates.ezpz_db import *

In [7]:
import wanted_recruit_crawler

In [2]:
conn = get_connection('test')
cur = conn.cursor()

In [3]:
comp_list=['삼성전자(주)','(주)카카오','네이버(주)']

In [5]:
cur.execute('desc recruit_info') #여기가 있어야지 news_crawl이 됨
for i in cur:
    print(i)

('recruit_uid', 'bigint', 'NO', 'PRI', None, 'auto_increment')
('comp_uid', 'bigint', 'NO', 'MUL', None, '')
('recruit_url', 'varchar(2000)', 'NO', '', None, '')
('recruit_position', 'varchar(100)', 'NO', '', None, '')
('recruit_thumb', 'varchar(2000)', 'YES', '', None, '')
('create_date', 'char(8)', 'NO', '', None, '')
('modify_date', 'char(8)', 'NO', '', None, '')

In [ ]:
#주기적으로 기존 기업인데 업데이트잖아 그러니까 comp_list 입력받겠지 그럼 걔네들 싹다 크롤링해야돼
#그 다음에 그 크롤링 정보들이랑 recruit_info db에 있는 uid랑 비교해서  있는거면 skip 새거면 insert 
#db에 있는데 크롤링데이터에 없으면 채용공고 없어진거니까 delete

In [38]:
cur.execute('select * from recruit_info') #여기가 있어야지 news_crawl이 됨
for i in cur:
    print(i)

(39622, 66, 'https://www.wanted.co.kr/wd/39622', '카카오/네이버 연계 시스템 서버 개발자', 'https://static.wanted.co.kr/images/company/3342/nmshwilloxvcqlxq__1080_790.png', '00000000', '00000000')
(113928, 65, 'https://www.wanted.co.kr/wd/113928', '카카오톡 브랜드 채널 및 DA광고 운영 마케터', 'https://static.wanted.co.kr/images/company/32670/h13ppbvw4p4xkjf3__1080_790.jpeg', '00000000', '00000000')
(168498, 65, 'https://www.wanted.co.kr/wd/168498', '클라우드 엔지니어', 'https://static.wanted.co.kr/images/company/593/17824_2_0.__1080_790.jpg', '00000000', '00000000')
(169809, 66, 'https://www.wanted.co.kr/wd/169809', '네트워크 엔지니어 (춘천 네이버IDC 상주)', 'https://static.wanted.co.kr/images/company/7445/ok0cshlw5inuetto__1080_790.jpg', '00000000', '00000000')
(171755, 65, 'https://www.wanted.co.kr/wd/171755', 'DevOps 엔지니어', 'https://static.wanted.co.kr/images/company/593/17824_2_0.__1080_790.jpg', '00000000', '00000000')
(171904, 65, 'https://www.wanted.co.kr/wd/171904', '[카카오헤어샵] 백엔드 개발자 (미들-시니어)', 'https://static.wanted.co.kr/images/company/2671/txrozr2bl2gyymzy__1080_790.jpg', '00000000', '00000000')
(172031, 65, 'https://www.wanted.co.kr/wd/172031', '[카카오헤어샵] 프로모션 마케터 (미들-시니어)', 'https://static.wanted.co.kr/images/company/2671/txrozr2bl2gyymzy__1080_790.jpg', '00000000', '00000000')
(172557, 65, 'https://www.wanted.co.kr/wd/172557', '정보유출 모니터링 감사', 'https://static.wanted.co.kr/images/company/35182/iyclcdzaahw1inyj__1080_790.jpg', '00000000', '00000000')
(173071, 65, 'https://www.wanted.co.kr/wd/173071', '[카카오헤어샵] 안드로이드 개발자 (미들-시니어)', 'https://static.wanted.co.kr/images/company/2671/txrozr2bl2gyymzy__1080_790.jpg', '00000000', '00000000')
(173839, 66, 'https://www.wanted.co.kr/wd/173839', '네이버클라우드 SA', 'https://static.wanted.co.kr/images/company/23357/pdbfmrjv28x6wqtf__1080_790.jpg', '00000000', '00000000')
(174452, 65, 'https://www.wanted.co.kr/wd/174452', '일본 사업개발 담당자', 'https://static.wanted.co.kr/images/company/35182/iyclcdzaahw1inyj__1080_790.jpg', '00000000', '00000000')
(174460, 65, 'https://www.wanted.co.kr/wd/174460', '헬스케어 데이터 엔지니어', 'https://static.wanted.co.kr/images/company/35182/iyclcdzaahw1inyj__1080_790.jpg', '00000000', '00000000')
(174497, 65, 'https://www.wanted.co.kr/wd/174497', '세무 업무 담당자', 'https://static.wanted.co.kr/images/company/593/17824_2_0.__1080_790.jpg', '00000000', '00000000')
(174746, 65, 'https://www.wanted.co.kr/wd/174746', '헬스케어 데이터 사이언티스트', 'https://static.wanted.co.kr/images/company/35182/iyclcdzaahw1inyj__1080_790.jpg', '00000000', '00000000')
(174812, 65, 'https://www.wanted.co.kr/wd/174812', '헬스케어 모바일 서비스 기획자 (1년 계약직)', 'https://static.wanted.co.kr/images/company/35182/iyclcdzaahw1inyj__1080_790.jpg', '00000000', '00000000')

In [8]:
#def recruit_info_crawl_save(comp_list):
for comp in comp_list:
    #채용공고는 주 붙어있으면 안됨 제거 전처리
    recruit_comp = comp.replace('(주)',"")
    print(recruit_comp)

    recruit_info_df=wanted_recruit_crawler.get_recruit_info(recruit_comp, csv_save=False) # 원티드 기업정보 크롤러 모듈
    new_i=[] #집합인 uid를 int로 바꿔준 값을 넣어준 리스트/ 테이블에 넣기위한 전처리 (비교하려면 먼저 전처리부터)
    for i in range(len(recruit_info_df['recruit_uid'])):
        new_i.append(list(recruit_info_df['recruit_uid'][i])[0])
    recruit_info_df['recruit_uid']=new_i #int 값으로 컬럼 대체
    recruit_info_df

    
    ####
    #비교해주는 쿼리문 기존 테이블 데이터가 있을거란 말이지 #1. 테이블에recruit_uid와 크롤링한 recruit_info_df['recruit_uid'] 이 친구와
    # uid에는 있고 df에는 없으면 없어진거니 삭제 delete 
    if recruit_info_df['recruit_uid']
    for crawl_uid in recruit_info_df['recrui']
    cur.execute('delete from recruit_info where recruit_uid NOT IN ('uid1', 'uid2', 'uid3', ...)')
    ####

삼성전자
카카오
네이버

In [65]:
#fetch로 recruit_uid 리스트를 뽑은뒤 여기서 나온 uid와 채용공고 df를 비교해서 차집합으로 걔네들 빼와서 리스트 만들기
cur.execute('select recruit_uid from recruit_info')

15

In [55]:

recruit_uid_list=[]
for i in range(len(cur.fetchall())-1):
    temp=cur.fetchall()[i][0] #첫번째가 i야
    print(temp)
    recruit_uid_list.append(temp)
recruit_uid_list

IndexError: tuple index out of range

In [14]:
recruit_info_df['recruit_uid']

0    169809
1    173839
2     39622
Name: recruit_uid, dtype: int64

In [13]:
for i in recruit_info_df['recruit_uid']:
    print(i)

169809
173839
39622

In [ ]:

cur.execute(f'select comp_uid from comp_info where comp_name = "{comp}"') 
comp_uid=cur.fetchall()[0][0]
print(comp_uid)
for index, row in recruit_info_df.iterrows():
    sql = 'insert into recruit_info '
    sql += '    (comp_uid, recruit_uid, recruit_url, recruit_position, recruit_thumb, create_date, modify_date) '
    sql += 'values ( '
    sql += f'   "{comp_uid}", "{row["recruit_uid"]}", "{row["recruit_url"]}", "{row["recruit_position"]}", "{row["recruit_thumb"]}" '
    sql += f'    , "{"00000000"}", "{"00000000"}" '
    sql += ') '
    cur.execute(sql)
        for i in cur:
            print(i)