In [166]:
import socket

try :
    DB_IP = socket.gethostbyname('EZPZ_DB')
except:
    DB_IP = 'localhost'
USER='root'
NAME='ezpz'
ENGINE= "django.db.backends.mysql"
DATABASES = {
    "default": {
        "ENGINE": ENGINE,
        "NAME": NAME, #나중에 db이름 고치기 데이터베이스 이름 
        "USER": USER, 
        "PASSWORD": "1234",
        "HOST": DB_IP,
        "PORT": "33306"
    }
}

In [167]:
import pymysql
import cryptography

In [168]:
conn = pymysql.connect(host=DB_IP, user=USER, password='1234',db= NAME ,charset='utf8')

In [169]:
cur = conn.cursor()

In [170]:
cur.execute('desc recruit_info') #채용 공고 테이블 확인
for i in cur:
    print(i)

('recruit_uid', 'bigint', 'NO', 'PRI', None, 'auto_increment')
('comp_uid', 'bigint', 'NO', 'MUL', None, '')
('recruit_url', 'varchar(2000)', 'NO', '', None, '')
('recruit_position', 'varchar(20)', 'NO', '', None, '')
('recruit_thumb', 'varchar(2000)', 'YES', '', None, '')
('create_date', 'char(8)', 'NO', '', None, '')
('modify_date', 'char(8)', 'NO', '', None, '')

In [171]:
cur.execute('select * from comp_info') #comp_info 테이블에서 id를 inner 조인해야함
for i in cur:
    print(i)

(3, '(주)트위니', '대전 유성구 가정북로 90', 'https://jpassets.jobplanet.co.kr/production/uploads/company/logo/321024/thumb_twinny-logo-1.png', '솔루션/SI/ERP/CRM', '201509', '중소기업', 'http://www.twinny.ai', 'N', '000000', '000000')

In [172]:
import sys
sys.path.append('/app/EZPZ_Project/modules/crawlers/job_post')#기업 정보 테이블에서 comp_uid만 inner join해서 빼오기 개같은거
sys.path.append('/app/EZPZ_Project/modules/crawlers/comp_info') #기업 정보 크롤러 경로

In [173]:
import wanted_recruit_crawler
import info_crawler

In [174]:
recruit_info_df=wanted_recruit_crawler.get_recruit_info('트위니', csv_save=False) # 원티드 기업정보 크롤러 모듈 객체 나중에 함수화

In [175]:
info_crawler_uid= info_crawler.get_url('트위니')

In [176]:
info_crawler_uid

,comp_uid,comp_name,comp_loc,comp_thumb,comp_cont,comp_founded,comp_size,comp_url
,321024,(주)트위니,대전 유성구 가정북로 90,https://jpassets.jobplanet.co.kr/production/up...,[솔루션/SI/ERP/CRM],2015.09.01,중소기업,http://www.twinny.ai

In [177]:
recruit_info_df

,recruit_uid,recruit_url,recruit_position,recruit_thumb
0,{141435},https://www.wanted.co.kr/wd/141435,로봇사업2본부_제품개발실(실장급),https://static.wanted.co.kr/images/company/128...
1,{175643},https://www.wanted.co.kr/wd/175643,품질컴플라이언스팀 팀장 (품질관리실),https://static.wanted.co.kr/images/company/128...
2,{175640},https://www.wanted.co.kr/wd/175640,품질보증팀 팀장 (품질관리실),https://static.wanted.co.kr/images/company/128...
3,{124624},https://www.wanted.co.kr/wd/124624,[로봇사업본부] 백엔드 개발자 (전문연구요원 가능),https://static.wanted.co.kr/images/company/128...
4,{136693},https://www.wanted.co.kr/wd/136693,[로봇사업2본부] 백엔드 개발자 (팀장급),https://static.wanted.co.kr/images/company/128...
5,{124088},https://www.wanted.co.kr/wd/124088,[로봇개발본부] 자율주행 로봇 S/W 개발 (전문연구요원 가능),https://static.wanted.co.kr/images/company/128...

In [178]:
new_i=[] #집합인 uid를 int로 바꿔준 값을 넣어준 리스트/ 테이블에 넣기위한 전처리
for i in range(len(recruit_info_df['recruit_uid'])):
    new_i.append(list(recruit_info_df['recruit_uid'][i])[0])

In [179]:
recruit_info_df['recruit_uid']=new_i #int 값으로 컬럼 대체
recruit_info_df

,recruit_uid,recruit_url,recruit_position,recruit_thumb
0,141435,https://www.wanted.co.kr/wd/141435,로봇사업2본부_제품개발실(실장급),https://static.wanted.co.kr/images/company/128...
1,175643,https://www.wanted.co.kr/wd/175643,품질컴플라이언스팀 팀장 (품질관리실),https://static.wanted.co.kr/images/company/128...
2,175640,https://www.wanted.co.kr/wd/175640,품질보증팀 팀장 (품질관리실),https://static.wanted.co.kr/images/company/128...
3,124624,https://www.wanted.co.kr/wd/124624,[로봇사업본부] 백엔드 개발자 (전문연구요원 가능),https://static.wanted.co.kr/images/company/128...
4,136693,https://www.wanted.co.kr/wd/136693,[로봇사업2본부] 백엔드 개발자 (팀장급),https://static.wanted.co.kr/images/company/128...
5,124088,https://www.wanted.co.kr/wd/124088,[로봇개발본부] 자율주행 로봇 S/W 개발 (전문연구요원 가능),https://static.wanted.co.kr/images/company/128...

In [180]:
cur.execute("select * from comp_info")
for i in cur:
    print(i)

(3, '(주)트위니', '대전 유성구 가정북로 90', 'https://jpassets.jobplanet.co.kr/production/uploads/company/logo/321024/thumb_twinny-logo-1.png', '솔루션/SI/ERP/CRM', '201509', '중소기업', 'http://www.twinny.ai', 'N', '000000', '000000')

In [ ]:
for index, row in recruit_info_df.iterrows():
    sql = f"""SELECT comp_uid, {row["recruit_uid"]}, '{row['recruit_url']}', '{row['recruit_position']}', '{row['recruit_thumb']}','00000000','00000000'
    FROM comp_info
    WHERE comp_name = '(주)트위니';"""
    cur.execute(sql)
    result = cur.fetchall()
    print(result)

In [181]:
cur.execute('desc recruit_info')
for i in cur:
    print(i)

('recruit_uid', 'bigint', 'NO', 'PRI', None, 'auto_increment')
('comp_uid', 'bigint', 'NO', 'MUL', None, '')
('recruit_url', 'varchar(2000)', 'NO', '', None, '')
('recruit_position', 'varchar(20)', 'NO', '', None, '')
('recruit_thumb', 'varchar(2000)', 'YES', '', None, '')
('create_date', 'char(8)', 'NO', '', None, '')
('modify_date', 'char(8)', 'NO', '', None, '')

In [182]:
cur.execute("desc comp_info")
for i in cur:
    print(i)

('comp_uid', 'bigint', 'NO', 'PRI', None, 'auto_increment')
('comp_name', 'varchar(20)', 'NO', 'UNI', None, '')
('comp_loc', 'varchar(50)', 'NO', '', None, '')
('comp_thumb', 'varchar(2000)', 'YES', '', None, '')
('comp_cont', 'varchar(30)', 'YES', '', None, '')
('comp_founded', 'char(6)', 'YES', '', None, '')
('comp_size', 'varchar(10)', 'YES', '', None, '')
('comp_url', 'varchar(2000)', 'YES', '', None, '')
('is_reged', 'char(1)', 'NO', '', 'N', '')
('create_date', 'char(8)', 'NO', '', None, '')
('modify_date', 'char(8)', 'NO', '', None, '')

In [183]:
cur.execute('select * from comp_info')
for i in cur:
    print(i)

(3, '(주)트위니', '대전 유성구 가정북로 90', 'https://jpassets.jobplanet.co.kr/production/uploads/company/logo/321024/thumb_twinny-logo-1.png', '솔루션/SI/ERP/CRM', '201509', '중소기업', 'http://www.twinny.ai', 'N', '000000', '000000')

In [184]:
cur.execute('select comp_uid from comp_info WHERE comp_name = "(주)트위니";')
# 결과 가져오기
rows = cur.fetchall()

# 데이터 출력
for row in rows:
    print(row)

(3,)

In [187]:
cur.execute('select * from comp_info')

InterfaceError: (0, '')

In [185]:
# 된다!!!!!!!!11
for index, row in recruit_info_df.iterrows():
    sql = f"""INSERT INTO recruit_info(comp_uid, recruit_uid, recruit_url, recruit_position, recruit_thumb, create_date, modify_date)
    SELECT comp_uid, {row["recruit_uid"]}, '{row['recruit_url']}', '{row['recruit_position']}', '{row['recruit_thumb']}', "00000000", "00000000"
    FROM comp_info
    WHERE comp_name = '(주)트위니';"""
    cur.execute(sql)

OperationalError: (1213, 'Deadlock found when trying to get lock; try restarting transaction')

In [ ]:
# 채용 공고 리스트로 저장해서 데이터프레임에 넣어줄수 있게
col_value=[]
for i in recruit_info_df.iloc[0]:
    col_value.append(i)
print(col_value)